.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  position: relative; /* Ensure this container can contain absolutely positioned elements */
}

.card-styles {
  height: 70vh;
  width: 180vh;
  padding: 20px;
  margin-left: 120px;
  margin-top: 2px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.header-buttons button {
  font-size: 12px;
  width: 100px;
  margin: 5px;
  background-color: white;
  color: #35AEFE;
  border: 1px solid #35AEFE;
}

.text-field-container {
  display: flex;
  justify-content: space-around;
}

.text-field-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  margin-left: 0px;
}

.text-field-label {
  font-size: 15px;
  font-weight: bold;
}

.text-field-input {
  margin-top: 10px;
  width: 100%;
}

.dropdown-container {
  margin-top: 10px;
}

.dropdown-wrapper {
  width: 110%;
}

.dropdown-label {
  font-size: 15px;
  font-weight: bold;
}

.dropdown-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button {
  margin-bottom: 16px;
  height: 40px;
  background-color: #35AFFD;
}

.dropdown-outline-button {
  margin-bottom: 16px;
  height: 40px;
}

.primary-unit-container {
  width: 180%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
  position: relative; /* Ensure positioning for child elements */
}

.primary-unit-label {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.primary-unit-icon {
  margin-left: 10px;
}

.primary-unit-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-unit-button {
  height: 40px;
  margin-top: 10px;
  background-color: #35AFFD;
}

.primary-unit-outline-button {
  height: 40px;
  margin-top: 10px;
}

.alternate-unit-container {
  width: 100%;
  margin-top: 20px;
}

.alternate-unit-label {
  font-size: 15px;
  font-weight: bold;
}

.alternate-unit-input {
  margin-top: 10px;
}

.alternate-unit-row {
  display: flex;
  margin-top: 20px;
}

.alternate-unit-column {
  flex: 1;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  position: relative; /* Ensure this container can contain absolutely positioned elements */
}

.card-styles {
  height: 70vh;
  width: 180vh;
  padding: 20px;
  margin-left: 120px;
  margin-top: 2px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.header-buttons button {
  font-size: 12px;
  width: 100px;
  margin: 5px;
  background-color: white;
  color: #35AEFE;
  border: 1px solid #35AEFE;
}

.primary-unit-container {
  width: 100%; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center contents vertically */
  align-items: center; /* Center contents horizontally */
  height: auto; /* Adjust height as needed */
  position: relative; /* Position relative to place child elements */
}

.primary-unit-label {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.primary-unit-icon {
  margin-left: 10px;
}

.upload-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 60vh;
  height: auto; /* Adjust height as needed */
  border: 2px solid red; /* Debugging border */
  background-color: #f0f0f0; /* Debugging background color */
}

.upload-image-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.upload-image-button {
  width: 450px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  margin: 10px;
  cursor: pointer;
}

.upload-image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.image-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.checkbox-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: pink;
}

.checkboxcontainer {
  margin-top: 300px;
  margin-left: 45px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.navbar-left a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-left a:hover {
  color: #35AFFD;
}

.navbar-center .MuiTextField-root {
  width: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 50px;
}

.navbar-right .MuiSvgIcon-root {
  margin-left: 15px;
  cursor: pointer;
  color: #333;
}

.navbar-right .MuiSvgIcon-root:hover {
  color: #35AFFD;
}

.navbar-links {
  display: flex;
  gap: 70px;
  margin-left: 90px;
}

.language-dropdown {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  cursor: pointer;
}

.actionbutton {
  display: flex;
  margin-top: 10px;
}

.variation {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 100px;
  height: 35px;
  color: white;
}

.color {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 100px;
  height: 35px;
  color: white;
}

.size {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 100px;
  height: 35px;
  color: white;
}

.exp {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 100px;
  height: 35px;
  color: white;
}

.mfg {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 100px;
  height: 35px;
  color: white;
}

.purchase {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 130px;
  height: 35px;
  color: white;
}

.saleprice {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 120px;
  height: 35px;
  color: white;
}

.mrp {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 100px;
  height: 35px;
  color: white;
}

.basicprice {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 120px;
  height: 35px;
  color: white;
}

.selfval {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 100px;
  height: 35px;
  color: white;
}

.min {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 100px;
  height: 35px;
  color: white;
}

.barcode {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 100px;
  height: 35px;
  color: white;
}

.openingpck {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 130px;
  height: 35px;
  color: white;
}

.openingvalue {
  background-color: #35AFFD;
  border-color: #35AFFD;
  width: 130px;
  height: 35px;
  color: white;
}

.textfield {
  display: flex;
  margin-top: 5px;
}

.textbox1 {
  width: 80px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox2 {
  width: 82px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox3 {
  width: 80px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox4 {
  width: 85px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox5 {
  width: 82px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox6 {
  width: 114px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox7 {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox8 {
  width: 85px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox9 {
  width: 103px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox10 {
  width: 82px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox11 {
  width: 83px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox12 {
  width: 83px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox13 {
  width: 112px;
  padding: 8px;
  border: 1px solid #ccc;
}

.textbox14 {
  width: 112px;
  padding: 8px;
  border: 1px solid #ccc;
}


.primary-unit-dropdown {
  width: 450px;
}

.dropdown-container .dropdown-wrapper .dropdown-actions .MuiTextField-root {
  width: 150px;
}

.text-field-container .text-field-wrapper .text-field-input {
  width: 100%;
}

.alternate-unit-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.alternate-unit-field,
.conversion-factor-field,
.price-per-field {
  width: 300px;
}
